@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body {
    font-family: 'Zen Dots', cursive;
    background-color: #61E2FF;
    margin: 0px;
    height: 100vh;
    overflow: hidden;
}
.container {
    display: flex;
    background-image: url('background.PNG');
    z-index:1;
    height:1294px;

}

.grid {
    margin-left: 1025px;
    margin-top: 175px;
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #AFAF56;
    border-color: #8A926F;
    border-width: 50px;
    border-radius: 5px;
}

.grid div{

    height:20px;
    width: 20px;
}

.mini-grid {
    margin-top: 185px;
    margin-left: 10px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: #AFAF56;

}

.tetromino {
    background-color: blue;
    background-image: url("bgimg.PNG");
    background-size: 20px 20px;
}

.mini-grid div{
    
    width: 20px;
    height: 20px;
}

.pontuacao {
    width: 20px;
    height: 20px;
    margin-top: 340px;
    margin-left: -80px;
    width: 80px;
    height: 80px;
    background-color: #AFAF56;
}

.pontuacao div{
    margin-left: 8px;
    align-items:center;
    text-align: center;
}

.linhas {
    width: 20px;
    height: 20px;
    margin-top: 490px;
    margin-left: -80px;
    width: 80px;
    height: 80px;
    background-color: #AFAF56;
}

.linhas div {
    align-items: center;
    text-align: center;
}
